<!DOCTYPE html>
<html>
<head>
  <title>Myblog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Home", root_path %> |
<%= link_to "About", about_path %> |
<%= link_to "New Post", new_post_path %> |
<%= link_to "Post Archive", posts_path %> |


<hr>



<%= yield %>

</body>
</html>
